 <app-header></app-header>
<app-home></app-home>
<app-footer></app-footer>
<h1> {{ClientName}}</h1>
<br>
<!-- <img [src]="Storelogo"> -->
<br>
<!-- <h3>{{"We offer an explicit discount of "+ Discount}}</h3> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-templte-refreance></app-templte-refreance> -->
<!-- <app-two-way-bind></app-two-way-bind> -->
<!-- <app-sdirective></app-sdirective> -->
<!-- ------------------lab3 -->

<h3 *ngIf="Discount;then thenn;else elsee"></h3>

<ng-template #elsee>
<h3>{{"We offer an explicit discount of "+ Discount}}</h3>
</ng-template>
<ng-template #thenn>
<h3></h3>
</ng-template>
<!-- --------------2 -->
 
<select >
    <option value="default">categories </option>
    <option *ngFor="let item of CategoryList" [value]="CategoryList">
        {{item}}
    </option>
</select>

<!-- ------------------3-- -->

<br>
<div *ngIf="isPurchsed; then thenBlock; else elseBlock"></div>

  <ng-template #elseBlock>
    <table class="table">
      <tr *ngFor="let item of ProductList">
        <td>{{ item }}</td>
      </tr>
    </table>
    </ng-template>

      <ng-template #thenBlock>
        <h2>Thanks for purshasing from our store  {{ClientName}}</h2>
    </ng-template>
<!-- -----------------------------4 -->
<input type="text" [(ngModel)]="UserName"/>
{{UserName}}
<br>
<!-- -------------5 -->
<br>
<button (click)="purshase()" class="btn-warning">Buy now </button>
<!-- -----------------6 -->
<!-- <app-pipes></app-pipes> -->
{{fullname |uppercase}}
<br>
{{Discount|percent}}
<!-- --------------7 -->